* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.logo {
  color: #fff;
  cursor: pointer;  
  position: relative;  
}

.logo::after {
  content: "";
  width: 0;
  height: 1px;
  /* border-radius: 25px; */
  /* padding: 0px 10px; */
  position: absolute;
  background-color: #f4bd09;
  /* opacity: 0.75; */
  left: 0;
  bottom: -10px;
  transition: 0.2s;
  z-index: 1;
}
.logo:hover::after{
  width: 100%;
}
.title {
  background: transparent;
  position: relative;
  /* display: inline; */
}
.title span {
  /* display: block; */
  width: 100%;
  height: 100%;
  background: #595;
  position: absolute;
  left: 0;
  bottom: 0;
}
/* .logo::after */
.main-container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
    url(bg-home-image.jpg);
  background-size: cover;
  background-position: center;
}
.header {
  width: 85%;
  /* background-color: white; */
  margin: auto;
  padding: 35px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid gray; */

  justify-content: space-between;
}
.menu ul {
  display: flex;
  list-style: none;
}
.menu ul li a {
  display: block;
  text-decoration: none;
  /* font-size: 18px; */
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 20px;
  /* border-left: 1px solid gray; */
  color: #fff;
  padding: 12px 20px;
  position: relative;
}
.menu ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: chartreuse;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
  margin-top: 5px;
}
.menu ul li a:hover::after {
  width: 100%;
}
.content {
  width: 100%;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.wrapper {
  max-width: 700px;
  min-width: 300px;
  margin: auto;
  border-radius: 25%;
}
.content h2 {
  font-size: 45px;
}
.content p {
  font-size: 21px;
  margin-top: 20px;
}
.cta {
  margin-top: 20px;
}
button {
  width: 175px;
  padding: 15px 0px;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: bold;
  background: transparent;
  margin: 0px 20px;
  position: relative;
  overflow: hidden;
  color: #fff;

  /* z-index: 10; */
}
span {
  width: 0;
  height: 100%;
  background-color: #333;
  position: absolute;
  transition: 0.5s;
  left: 0;
  bottom: 0;
  z-index: -1;
}
button:hover span {
  width: 100%;
}

/* .cta-btns {
  padding: 15px 30px;
  border-radius: 25px;
  width: 175px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;  
  background: transparent ;
  color: #fff;
  cursor: pointer;
  margin: 0px 10px;
  overflow: hidden;
  /* transition: 0.5s; */
/* position: relative;
}
span {
  width: 0%;
  height: 100%;
  border-radius: 25px;  
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #333;
  transition: 0.5s;
  z-index: -1;
}
button:hover span {
  background-color: #444;
  width: 100%;
  border: none;
} */
